<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Macro Definition -->
    <xacro:macro name="ximea_camera">
        
        <!-- Main Camera Link -->
        <link name="ximea_camera_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="file://$(find ximea-ros2-wrapper-description)/meshes/Ximea_Camera_EO_Lens.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="file://$(find ximea-ros2-wrapper-description)/meshes/Ximea_Camera_EO_Lens_Collision.stl" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="-0.000287 0.037072 -0.000409" rpy="0 0 0"/>
                <mass value="0.1058"/>
                <inertia
                    ixx="0.044674521" ixy="0.000036558" ixz="-0.000004585"
                    iyy="0.014954144" iyz="0.00001958"
                    izz="0.044653232"/>
            </inertial>
        </link>

        <!-- Optical Frame -->
        <link name="ximea_camera_optical_frame"/>
        <joint name="ximea_camera_optical_joint" type="fixed">
            <parent link="ximea_camera_link"/>
            <child link="ximea_camera_optical_frame"/>
            <origin xyz="0 0.03194577 0" rpy="${-pi/2} 0 0"/>
        </joint>

    </xacro:macro>
</robot>
