# Python
__pycache__/
# Ignore all Python bytecode files with extensions .pyc, .pyo, and .pyd.
# These files are generated automatically during Python execution and are not needed in version control.
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Models
*.plan
*.onnx
*.pt

# Tools
multi_camera_rig_common/tools/make_tensorrt