[submodule "camera_ros2_wrappers/zed-ros2-wrapper"]
	path = camera_ros2_wrappers/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "camera_ros2_wrappers/firefly-ros2-wrapper/flir_camera_driver"]
	path = camera_ros2_wrappers/firefly-ros2-wrapper/flir_camera_driver
	url = https://github.com/ros-drivers/flir_camera_driver.git
[submodule "external/FoundationStereo"]
	path = external/FoundationStereo
	url = https://github.com/Feddockh/FoundationStereo.git
[submodule "external/RAFT-Stereo"]
	path = external/RAFT-Stereo
	url = https://github.com/princeton-vl/RAFT-Stereo.git
